@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'itim' ,sans-serif;
}

body{
    background-color: rgb(255, 232, 212) ;
    color: rgb(36, 36, 36);
    line-height: 1.6;
}

nav{
    background-color: rgb(252, 186, 164);
    color: rgb(0, 0, 0);
    padding: 16px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 100;
    top: 0;
}

nav .logo > img{
    height: 72px;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 18px;
}

nav a{
    color: rgb(51, 51, 51);
    font-weight: bold;
    text-decoration: none;
}

nav a:hover{
    color: rgb(0, 0, 0);
}

.header{
    text-align: center;
    padding: 20px;
}

.img-profile{
    width: 200px;
    border-radius: 8%;
    object-fit: cover;
    box-shadow: 0 3px 3px 3px rgb(223, 181, 145);
    border: 3px solid rgb(248, 198, 154);
    margin-bottom: 20px;
}

section{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 25px;
}

h2{
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.card{
    background-color: rgb(253, 206, 166);
    width: 300px;
    border-radius: 8%;
    overflow: hidden;
    box-shadow: 0 2px 2px 2px rgb(223, 181, 145);
}

.card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card h3{
    padding: 10px;
    font-size: 22px;
}

.card p{
    padding: 10px;
    font-size: 18px;
}